.intro {
    background-color: transparent;
}

.intro__video-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.intro__video-wrapper:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .35);
}

.intro__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro__price {
    font-size: 3.25rem;
    font-weight: 500;
    color: #fff;
    text-shadow: 7px 7px 5px rgba(0, 0, 0, .5);
    margin-top: 0;
}

.main-title {
    font-size: 7rem;
    line-height: 1;
    text-transform: uppercase;
    hyphens: none;
}

.main-title__small {
    font-size: 4rem;
    font-weight: 500;
}

.start {
    padding: 4.25em 0;
}

.start,
.directions {
    background-color: #fff;
}

.start__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.start__picture {
    position: relative;
    display: block;
    width: 32rem;
    max-width: 100%;
    flex-shrink: 0;
}

.start__picture:before {
    content: '';
    position: absolute;
    top: -.85em;
    right: -.85em;
    width: 100%;
    height: 100%;
    border: .1em solid #007bc0;
    z-index: -1;
}

.start__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.start__content {
    width: 52%;
    max-width: 41.5625rem;
    box-sizing: border-box;
}

.start__text {
    font-size: 1.125rem;
    line-height: 1.55;
    margin-top: 0;
    margin-bottom: 1em;
}

.start__consultation-link {
    display: inline-block;
    margin-top: 1em;
}

.start__title {
    font-size: 2.25rem;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: .85em;
}

.directions-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.directions-list__item {
    width: 25%;
    text-align: center;
    margin-bottom: 3rem;
}

.directions-list__link {
    position: relative;
    display: block;
    font-size: 1.25rem;
    color: #000;
    text-decoration: none;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 0;
    padding-top: 7em;
}

.directions-list__link:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 7rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.svg .directions-list__link--worry:before {
    background-image: url('../svg/worry.svg');
}

.no-svg .directions-list__link--worry:before {
    background-image: url('../images/worry.png');
}

.svg .directions-list__link--conflicts:before {
    background-image: url('../svg/conflicts.svg');
}

.no-svg .directions-list__link--conflicts:before {
    background-image: url('../images/conflicts.png');
}

.svg .directions-list__link--depression:before {
    background-image: url('../svg/depression.svg');
}

.no-svg .directions-list__link--depression:before {
    background-image: url('../images/depression.png');
}

.svg .directions-list__link--smoking:before {
    background-image: url('../svg/smoking.svg');
}

.no-svg .directions-list__link--smoking:before {
    background-image: url('../images/smoking.png');
}

.svg .directions-list__link--divorce:before {
    background-image: url('../svg/divorce.svg');
}

.no-svg .directions-list__link--divorce:before {
    background-image: url('../images/divorce.png');
}

.svg .directions-list__link--betrayal:before {
    background-image: url('../svg/betrayal.svg');
}

.no-svg .directions-list__link--betrayal:before {
    background-image: url('../images/betrayal.png');
}

.svg .directions-list__link--stress:before {
    background-image: url('../svg/stress.svg');
}

.no-svg .directions-list__link--stress:before {
    background-image: url('../images/stress.png');
}

.svg .directions-list__link--clown:before {
    background-image: url('../svg/clown.svg');
}

.no-svg .directions-list__link--clown:before {
    background-image: url('../images/clown.png');
}

.svg .directions-list__link--loss-of-consciousness:before {
    background-image: url('../svg/loss-of-consciousness.svg');
}

.no-svg .directions-list__link--loss-of-consciousness:before {
    background-image: url('../images/loss-of-consciousness.png');
}

.svg .directions-list__link--hospitalisation:before {
    background-image: url('../svg/hospitalisation.svg');
}

.no-svg .directions-list__link--hospitalisation:before {
    background-image: url('../images/hospitalisation.png');
}

.svg .directions-list__link--roof:before {
    background-image: url('../svg/roof.svg');
}

.no-svg .directions-list__link--roof:before {
    background-image: url('../images/roof.png');
}

.svg .directions-list__link--baby:before {
    background-image: url('../svg/baby.svg');
}

.no-svg .directions-list__link--baby:before {
    background-image: url('../images/baby.png');
}

.online {
    background-color: #efefef;
    box-shadow: inset 0 0.625em 2.8125em rgba(0, 0, 0, .01961);
}

.online__container {
    position: relative;
}

.online__container:before {
    content: '';
    position: absolute;
    width: 7.5rem;
    height: 7.5rem;
    top: -3rem;
    right: 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.online__socials-list {
    justify-content: flex-end;
}

.svg .online__container:before {
    background-image: url('../svg/ambulance.svg');
}

.no-svg .online__container:before {
    background-image: url('../images/ambulance.png');
}

.online__title {
    text-align: left;
    margin-bottom: 2em;
}

.online__title:after {
    display: none;
}

.online__text {
    font-size: 1.25rem;
    line-height: 1.35;
    text-align: justify;
    margin-top: 0;
    margin-bottom: 2em;
}

.online__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.consultation-link {
    position: relative;
    font-size: 1.125rem;
    font-weight: 500;
    color: #333;
    text-decoration: none;
    background-color: hsl(35, 93%, 60%);
    border-radius: 1.25em;
    padding: .5em 4em .5em 1.5em;
    box-shadow: 0 .15em .55em rgba(0, 53, 134, .2);
    transition: background-color 0.3s ease-in-out;
}

.intro__consultation-link {
    font-size: 1.25rem;
    font-weight: 600;
    padding: .65em 4em .65em 1.75em;
}

.consultation-link:after {
    position: absolute;
    top: calc(50% - 0.5rem);
    content: '';
    width: 2rem;
    height: 1rem;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0' y='0' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve' fill='%23333'%3E%3Cg%3E%3Cg%3E%3Cpath d='M508.875,248.458l-160-160c-4.167-4.167-10.917-4.167-15.083,0c-4.167,4.167-4.167,10.917,0,15.083l141.792,141.792 H10.667C4.771,245.333,0,250.104,0,256s4.771,10.667,10.667,10.667h464.917L333.792,408.458c-4.167,4.167-4.167,10.917,0,15.083 c2.083,2.083,4.813,3.125,7.542,3.125c2.729,0,5.458-1.042,7.542-3.125l160-160C513.042,259.375,513.042,252.625,508.875,248.458z '/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: arrow-pulse .4s ease-in-out infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
}

.consultation-link:hover {
    background-color: hsl(35, 93%, 50%);
    transition: background-color 0.3s ease-in-out;
}

.about {
    background-color: #007bc0;
}

.about__element {
    display: flex;
    justify-content: space-between;
}

.about__element:first-child {
    text-align: right;
    margin-bottom: 5em;
}

.about__image {
    max-width: 100%;
    height: 30rem;
    object-fit: cover;
    box-shadow: 0 .25em 2em 0 rgba(0, 65, 141, .16), 0 .75em 1.25em -.75em rgba(0, 0, 0, .5);
}

.about__content {
    width: 65%;
    color: #fff;
}

.about__title {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.35;
    margin-top: 0;
    margin-bottom: 1.25em;
}

.about__text {
    font-size: 1.25rem;
    line-height: 1.35;
    margin: 0;
}

.card {
    font-size: 1.125rem;
    box-shadow: 0px 0px 24px 0px rgba(141, 146, 184, .2);
}

.card__title {
    text-align: center;
    line-height: 1.55;
    border-bottom: 0.05em solid #e5e5f5;
    padding: 2em 4em;
    margin: 0;
}

.card__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 2em 4em;
    margin: 0;
}

.card__list-item {
    position: relative;
    width: 48%;
    line-height: 1.55;
    box-sizing: border-box;
    padding-left: 1.5em;
    margin-bottom: 1.25em;
}

.card__list-item:before {
    content: '';
    position: absolute;
    top: 0.475em;
    left: 0;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #f69917;
}

.advantages__title {
    margin-bottom: 3.5em;
}

.advantages__list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 3em;
}

.advantages__item {
    width: 14.6875rem;
    text-align: center;
}

.advantages__icon {
    width: 45%;
    transition: transform 0.3s ease-in-out;
}

.advantages__item:hover .advantages__icon {
    transform: scale(1.2);
}

.advantages__item-title {
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 1.5em;
}

.advantages__text {
    width: 75%;
    font-size: 1.25rem;
    line-height: 1.5;
    text-align: center;
    margin: 0 auto;
}

@media all and (max-width: 1279px) {
    .intro__container {
        padding-top: 25vh;
    }
    .main-title {
        line-height: 0.85;
    }
    .directions-list__item {
        width: 33.3%;
    }
    .online__container:before {
        right: 3.5rem
    }
    .consultation-link {
        font-size: 1.5rem;
    }
    .about__image {
        height: 28.125rem;
    }
    .about__content {
        width: 60%;
    }
    .card__list-item {
        width: 100%;
        font-size: 1.25rem;
    }
    .advantages__list {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 0;
    }
    .advantages__item {
        width: 33.3%;
        margin-bottom: 2.5em;
    }
    .advantages__item-title {
        font-size: 1.25rem;
    }
    .advantages__text {
        width: 90%;
    }
    .start {
        padding: 3.25em 0;
    }
    .start__container {
        display: block;
    }
    .start__content {
        width: 100%;
        max-width: 100%;
        margin-bottom: 3.5em;
    }
    .start__text {
        font-size: 1.25rem;
    }
    .start__picture {
        margin-left: auto;
        margin-right: auto;
    }
}

@media all and (max-width: 1023px) {
    .intro__container {
        padding-top: 12vh;
    }
    .intro__title {
        font-size: 3rem;
    }
    .online__bottom {
        display: block;
    }
    .about__element {
        flex-wrap: wrap;
    }
    .about__picture {
        width: 100%;
        order: 1;
    }
    .about__image {
        display: block;
        margin: 3em auto 0;
    }
    .about__content {
        width: 100%;
        order: 0;
    }
    .card__title,
    .card__list {
        padding: 2em;
    }
    .advantages__item {
        width: 50%;
    }
    .about__title {
        text-align: center;
    }
    .about__text {
        text-align: justify;
    }
}

@media all and (max-width: 959px) {
    .intro__container {
        padding-top: 28vh;
    }
    .intro__title {
        font-size: 4rem;
    }
    .main-title__small {
        font-size: 3rem;
    }
    .consultation-link {
        display: block;
        width: 32rem;
        max-width: 100%;
        box-sizing: border-box;
    }
    .online__consultation-link {
        margin: 0 auto 1.5em;
    }
    .intro__consultation-link {
        width: 33rem;
    }
    .socials-list {
        justify-content: center;
    }
}

@media all and (max-width: 767px) {
    .intro__container {
        padding-top: 18vh;
    }
    .main-title {
        font-size: 3.5rem;
        line-height: 1;
    }
    .main-title__small {
        font-size: 2.25rem;
    }
    .consultation-link {
        font-size: 1.25rem;
    }
    .directions-list__item {
        width: 50%;
    }
    .online__title {
        margin-bottom: 1em;
    }
    .card__title,
    .directions-list__link {
        font-size: 1.25rem;
    }
    .online__container:before {
        display: none;
    }
    .advantages__item {
        width: 100%;
    }
    .advantages__icon {
        width: 35%;
    }
    .advantages__text {
        width: 100%;
        font-size: 1.25rem;
    }
    /* .start__content {
        padding-left: 1.5em;
        padding-right: 1.5em;
    } */
    .consultation__content {
        font-size: 1.25rem;
    }
}

@media all and (max-width: 479px) {
    .intro__container {
        padding-top: 25vh;
    }
    .main-title {
        font-size: 3rem;
    }
    .main-title__small {
        font-size: 2rem;
    }
    .intro__price {
        font-size: 3rem;
    }
    .consultation-link {
        font-size: 1rem;
    }
    .consultation-form__submit {
        font-size: 1.25rem;
    }
}

@media all and (max-width: 379px) {
    .section {
        padding-top: 3em;
        padding-bottom: 3em;
    }
    .intro {
        padding: 0;
    }
    .main-title {
        font-size: 2.5rem;
        line-height: 0.9;
    }
    .main-title__small {
        font-size: 1.65rem;
    }
    .intro__price {
        font-size: 2.5rem;
    }
    .consultation-link:after {
        width: 1.75rem;
    }
    .start__title {
        font-size: 1.25rem;
    }
    .start__text,
    .online__text,
    .about__text {
        font-size: 1rem;
        text-align: justify;
        word-wrap: wrap;
        hyphens: auto;
    }
    .about__title {
        font-size: 1.25rem;
    }
    .card__title,
    .card__list-item,
    .directions-list__link,
    .advantages__text,
    .consultation__content {
        font-size: 1rem;
    }
    .advantages__item-title {
        margin-top: 1em;
    }
}

@media all and (max-width: 374px) {
    .main-title {
        font-size: 2.25rem;
    }
    .main-title__small {
        font-size: 1.35rem;
    }
    .consultation-link {
        font-size: .85rem;
        padding-left: 1em;
        padding-right: 3em;
    }
    .subtitle {
        font-size: 1.5rem;
    }
}